<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true" name="JpsUsbRaw">
  <Appenders>
    <Appender type="Console" name="STDOUT">
      <Layout type="PatternLayout"
              pattern="%d{HH:mm:ss.SSSS} [%t] %-5level %c{1.}  %msg%n"
              />
    </Appender>
  </Appenders>

  <Loggers>
    <Root level="ERROR">
      <AppenderRef ref="STDOUT" />
    </Root>

    <Logger name="com.hifiremote.jpsusbraw" level="TRACE" />
  </Loggers>
</Configuration>
